<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GITText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05EB7DA61C85410D003FD90A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05EB7DBF1C85410D003FD90A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05EB7DCA1C85410D003FD90A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
